*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

.headerdiv{
    display: flex;
    margin: 0 20px;
    }

.logo{
    width: 162px;
    height: 49px;
    left: 86px;
    top: 63px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 49px;
    color: #000000;
    margin-right: 100px;    
    }

.navlist{
    display: flex;
    padding-top: 15px;
    }

.navlist li{
    list-style-type: none;
    padding-left: 20px;
    }

.navlist li a{
    width: 74px;
    height: 23px;
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    }

.navlist li a:hover{
    color: #0055D6;
    }

.hero{
    display: flex;
    height: auto;
    max-width: 1456px;
    margin: 10px auto;
    flex-wrap: wrap;
    padding-left: 55px;
    }

.herocol1{
    margin-top: 150px;
    width: 748px;
    height: 336px;
    }

.herocol1__title{
    padding-right: 100px;
    width: 748px;
    height: auto;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    }

.herocol1__subtitle{
    padding-top: 25px;
    padding-right: 10px;
    width: 546px;
    height: auto;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #7E7E7E;
    }

.herocol1__butn{
    margin-top: 27px;
    border: none;
    width: 219px;
    height: 63px;
    left: 143px;
    top: 547px;
    background: #0055D6;
    border-radius: 5px;
    }

.herocol1__butn:hover{
    opacity: 80%;
    }

.herocol1__butn_txt{
   height: 23px;
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    }

.herocol2{
    margin-top: 69px;
    height: 412px;
    width: 558px;
    background-image: url("./img/kindpng_3923313.png");
    background-position: center; 
    background-size: cover;  
    }

.product{
    height: auto;
    max-width: 1456px;
    margin: 0 auto;
    margin-top: 110px;
    }

.product_container1{
    max-width: 1348px;
    margin: 0 auto;
    height: auto;
    display: flex;  
    }

.product_container1_col1{
    height: 685px;
    width: 650px;
    margin-right: 50px;    
    }

.product_container1_col1_card{
    padding:60px;
    display: flex;
    height: 330px;
    width: 650px;
    background-color: #1F2022;
    }

.product_container1_col1_card_col1{
    margin-right:20px;
    width: 272px;
    height: 167px;
    }

.product_container1_col1_card_col2{
    width: 380px;
    height: 341px;
    background-image: url("./img/kindpng_7808185.png");
    background-size: cover;
}

.product_container1_col2{
    height: 685px;
    width: 650px;
    background-color: #0055D6;
    padding-left: 42px;
    }

.product_container1_col2_heading{
    display: flex;
    height: 82px;
    width: 292px;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 56px;
}
.product_container1_col2_heading_col1{
    height: 82px;
    width: 190px;
}
.product_container1_col2_heading_col1_text1{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
    color: #FFFFFF;

}
.product_container1_col2_heading_col1_text2{
    padding-top:11px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    }
.product_container1_col2_heading_col2{
    margin-top: 12px;
    margin-left: 30px;
    width: 63px;
height: 63px;
left: 1164px;
top: 900px;
border: none;
background: #2E74DD;
border-radius: 5px;
}

.product_container1_col2_heading_col2_btntxt{
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 25px;
color: #FFFFFF;
}
.product_container2{
    display: flex;
    max-width: 1348px;
    margin: 0 auto;  
    margin-top: 20px;  

}

.product_ads{
    display: flex;
    height: 234px;
    max-width: 1348px;
    margin: 0 auto;  
    margin-top: 20px;  
    }

.featureprodH{
        width: 250px;
        height: 49px;
        left: 86px;
        top: 63px;
        font-family: 'Arial';
        font-style: normal;
        font-size: 25px;
        color: #000000;  
        margin-left: 83px;
        padding-top: 30px;
        }

.featureprod{
    display: flex;
    height: auto;
    max-width: 1456px;
    margin: 10px auto;
    flex-wrap: wrap;
    padding-left: 55px;
    margin-top: 20px;
    }

.featureprod1{
    height: 420px;
    width: 300px;
    max-width: 1348px;
    margin-top: 20px;
    background-color: #F7F9FE; 
    border-radius: 5px;
    }

.featureprod_heart{
        margin-left: 240px;
        padding-top: 20px;
    }

.featureprod_img{
    margin-left: 25px;
    padding-top: 5px;
    }

.featureprodN{
    display: flex;
    padding-top: 5px;
    width: 300px;
    }

.featureprodN_H1{
    width: 200px;
    font-family: 'Arial';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    color: #1F2022;
    margin-left: 20px;
    }

.featureprodN_H2{
    font-family: 'Arial';
    color: #A3A3A3;
    font-size: 14px;
    margin-left: 20px;
    padding-top: 5px;
    }

.featureprodN_H3{
    font-family: 'Arial';
    color: #1F2022;
    font-size: 14px;
    margin-left: 20px;
    padding-top: 4px;
    }

.featureprodN_B{
    width: 140px;
    height: 39px;
    background-color: #0055D6;
    border-radius: 2px;
    margin-right: 15px;
    margin-top: 20px;
}

.featureprodN_B_T{
    color: white;
    font-family: 'arial';
    font-weight: 600;
    font-size: 12px;
    padding-top: 12px;
    margin-left: 7px;
}
